.about-company {
    padding: 50px 0 90px;

    .breadcramb {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__content {
        padding: 20px;
        background-color: $gray-100;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    &__img {
        display: block;
        object-fit: cover;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media(max-width: 768px) {
    .about-company {
        padding: 30px 0 60px;

        &__content {
            padding: 15px;

            p {
                font-size: 16px;
            }
        }
    }
}