body {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: $main-clr;
    background-color: $white;
    display: flex;
    flex-direction: column;

    &.off-scroll {
        overflow: hidden;
    }
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.logo {
    display: inline-block;

    &__img {
        display: block;
        fill: $white;
    }
}

.link-contact {
    color: $brown-100;
    transition: color 0.6s;

    &:hover {
        color: $white;
    }
}

.btn-brown,
.btn-stroke {
    font-size: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn-brown {
    font-weight: 700;
    color: $white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: $brown-500;
    transition: background-color 0.6s;

    &:hover {
        background-color: #926341;
    }

}

.btn-brown--active {
    background-color: transparent;
    border: 1px solid $brown-500;
    color: $brown-100;
    transition: color 0.6s, background-color 0.6s;

    &:hover {
        background-color: $brown-500;
        color: $white;
    }
}

.btn-stroke {
    border: 1px solid $gray-400;
    padding: 20px;
    transition: border 0.6s;

    &:hover,
    &.active {
        font-weight: 700;
        border: 1px solid $main-clr;
    }
}

.title {
    font-family: $font-title;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.breadcramb {

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__item {
        position: relative;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        color: $gray-600;
        letter-spacing: 0.01em;

        &:not(:last-child) {

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: -25px;

                width: 10px;
                border-bottom: 1px solid $gray-600;
            }
        }

    }

    &__link {
        transition: color 0.6s;

        &:hover {
            color: $brown-800;
            text-decoration: underline;
        }
    }

}

.messager {

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid #505050;
        border-radius: 50%;

        &:hover {
            .messager__icon {
                fill: $brown-100;
            }
        }
    }

    &__icon {
        transition: fill 0.6s;
    }
}

.field {
    position: relative;
    display: block;

    &__input {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.01em;
        padding: 19px 16px;
        background-color: $white;
        outline: 1px solid transparent;

        transition: outline 0.5s;

        &:hover {
            outline: 1px solid $gray-600;
        }

    }

    &__hint {
        position: absolute;
        top: 20px;
        left: 23px;
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 0.01em;
        opacity: 0.5;
        pointer-events: none;
        transition: top 0.5s, opacity 0.5s, font-size 0.5s;

        &.active {
            top: 5px;
            font-size: 13px;
            font-weight: 400;
            opacity: 1;
        }
    }
}

.hidden {
    display: none !important;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba($black, 0.7);
    overflow: auto;
    z-index: 5;

    &__container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        position: relative;
        background-color: $gray-100;

    }

    &__close {
        position: absolute;
        top: -20px;
        right: -10px;
        transform: translateX(100%);
        width: 60px;
        height: 60px;
        background-color: $white;
        border: 1px solid $gray-400;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            height: 2px;
            background-color: $black;
            transition: background-color 0.6s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:hover {

            &::after,
            &::before {
                background-color: $brown-800;
            }
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__link {
        display: block;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        border: 1px solid $gray-400;
        transition: background-color 0.5s, color 0.5s, border 0.5s;

        &:hover,
        &.active {
            color: $white;
            background-color: $main-clr;
            border: 1px solid $main-clr;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
        }
    }
}

@media(max-width: 992px) {
    .logo {
        &__img {
            width: 80px;
            height: 44px;
        }
    }

    .modal {
        &__close {
            right: 50%;
            transform: translate(50%, -100%)
        }

        &__container {
            margin: 100px 20px;
        }
    }
}

@media(max-width: 768px) {
    .logo {
        &__img {
            width: 64px;
            height: 36px;
        }
    }

    .title {
        font-size: 40px;
    }

    .btn-stroke {
        font-size: 13px;
    }

    .field {
        &__hint {
            font-size: 14px;

            &.active {
                display: none;
            }
        }
    }

    .pagination {
        &__list {
            gap: 13px;
        }

        &__item {
            &:nth-child(6) {
                display: none;
            }
        }
    }
}

@media(max-width:576px) {
    .modal {


        &__close {
            width: 40px;
            height: 40px;
        }
    }
}