// Color
$brown-100: #FFD6A8;
$brown-500: #A9845C;
$brown-800: #B14101;

$main-clr: #3B3937;
$gray-100: #F3F0EE;
$gray-400: #DADADA;
$gray-600: #B1B0AF;
$white: #ffffff;
$black: #000;

// Fonts 
$font-fira: "FiraSans";
$main-font: "Gilroy";
$font-title: "GothamPro";
$font-title: "Permian";