.feedback-modal {
    max-width: 620px;
    padding: 70px;

    &__title {
        font-size: 50px;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 38px;
    }

    &__label {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__btn {
        width: 100%;
        padding: 20px;
        margin-top: 40px;
    }
}

.modal-feedback {
    display: none;
}

@media(max-width: 768px) {
    .feedback-modal {
        padding: 40px;
    }

}

@media(max-width: 576px) {
    .feedback-modal {
        padding: 25px;

        &__title {
            font-size: 32px;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 25px;
        }

        &__input {
            padding: 15px;
        }

        &__label {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &__btn {
            font-size: 14px;
            margin-top: 25px;
            padding: 15px;
        }
    }
}