<section class="advice">
    <div class="container">
        <div class="advice__inner">
            <picture>
                <source srcset="./images/advice-img.webp">
                <img class="advice__img" src="./images/advice-img.jpg" width="640" height="600" loading="lazy"
                    alt="img">
            </picture>
            <div class="advice__content">
                <h2 class="advice__title title">Нужна помощь с выбором?</h2>
                <p class="advice__text">Наши специалисты с радостью помогут Вам, оставьте свой номер телефона!</p>
                <form class="form-advice" action="#">
                    <div class="form-advice__row">
                        <label class="form-advice__label field">
                            <input class="form-advice__field field__input" type="text" required>
                            <span class="form-advice__hint field__hint">Как вас зовут?</span>
                        </label>
                        <label class="form-advice__label field">
                            <input class="form-advice__field field__input" type="tel" required>
                            <span class="form-advice__hint field__hint">Ваш телефон</span>
                        </label>
                    </div>
                    <button class="form-advice__btn btn-brown" type="submit">Связаться с нами</button>
                </form>
            </div>
        </div>
    </div>
</section>