<section class="feedback">

    <div class="feedback__inner">
        <div class="feedback__content">
            <h2 class="feedback__title title">Связаться с нами</h2>
            <p class="feedback__text">
                Наши специалисты с радостью помогут Вам, оставьте свой номер телефона!
            </p>
        </div>
        <form class="form-feedback" action="#">
            <div class="form-feedback__row">
                <labe class="form-feedback__label field">
                    <input class="form-feedback__input field__input" type="text">
                    <span class="form-feedback__hint field__hint">Как вас зовут?</span>
                </labe>
                <labe class="form-feedback__label field">
                    <input class="form-feedback__input field__input" type="tel">
                    <span class="form-feedback__hint field__hint">Ваш телефон</span>
                </labe>
            </div>
            <labe class="form-feedback__label field">
                <textarea class="form-feedback__textarea field__input"></textarea>
                <span class="form-feedback__hint field__hint">Ваш комментарий</span>
            </labe>
            <button class="form-feedback__btn btn-brown" type="submit">отправить сообщение</button>
        </form>
    </div>

</section>