<div class="modal hidden" data-modal id="feedback">
    <div class="modal__container">
        <div class="modal__content feedback-modal">
            <h2 class="feedback-modal__title title">Связаться с нами</h2>
            <p class="feedback-modal__text">
                Наши специалисты с радостью помогут Вам, оставьте свой номер телефона!
            </p>
            <form class="feedback-modal__form">
                <label class="feedback-modal__label field">
                    <input class="feedback-modal__input field__input" type="text">
                    <span class="feedback-modal__hint field__hint">Как вас зовут?</span>
                </label>
                <label class="feedback-modal__label field">
                    <input class="feedback-modal__input field__input" type="tel">
                    <span class="feedback-modal__hint field__hint">Ваш телефон</span>
                </label>
                <button class="feedback-modal__btn btn-brown" type="submit">Связаться с нами</button>
            </form>
        </div>
        <button class="modal__close" type="button">
            <span class="sr-only">Close modal</span>
        </button>
    </div>
</div>