<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="header__left">
                <a class="header__logo logo" href="#">
                    <svg class="logo__img">
                        <use xlink:href="./images/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Доставка</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Статьи</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">О нас</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>

            <div class="header__right">
                <div class="header__contact">
                    <a class="header__email link-contact"
                        href="mailto:support@sofiadoors.com">support@sofiadoors.com</a>
                    <a class="header__tel link-contact" href="tel:88005508179">
                        <span class="sr-only">Call us back button</span>
                        <span class="header__tel-num">8 (800) 550-81-79</span>
                        <svg class="header__tel-icon" width="18" height="18">
                            <use xlink:href="./images/sprite.svg#icon-tel"></use>
                        </svg>
                    </a>
                    <button class="header__burger-btn " type="button">
                        <span class="sr-only">Open Menu</span>
                    </button>
                </div>
                <a class="header__catalog-link btn-brown" href="#">Каталог</a>
            </div>

        </div>
    </div>
</header>