<section class="hero">
    <div class="container">
        <h1 class="sr-only">мебель от g&g компании - лучший выбор для любого помещения</h1>
        <div class="hero__inner">
            <div class="hero__content">
                <h2 class="hero__title">
                    Classic Wood Stile
                    <b class="hero__title-accent">enterior-exterior</b>
                </h2>
                <div class="hero__text">
                    <p> Приглашает к сотрудничеству архитекторов, дизайнеров и строителей</p>
                </div>
                <button class="hero__link btn-brown" type="button">подробнее</button>
            </div>

        </div>
    </div>
</section>