<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__content">
                <h2 class="hero__title">
                    Classic Wood Stile
                    <b class="hero__title-accent">enterior-exterior</b>
                </h2>
                <div class="hero__text">
                    <p> Приглашает к сотрудничеству архитекторов, дизайнеров и строителей</p>
                </div>
                <a class="hero__link btn-brown" href="#">подробнее</a>
            </div>
        </div>
    </div>
</section>