<section class="services">
    <div class="container">
        <h2 class="sr-only">Наши услуги</h2>
        <div class="services__inner">
            <div class="services__item">
                <img class="services__img" src="./images/services/door.jpg" width="620" height="320" alt="img">
                <h3 class="services__title">Двери на заказ</h3>
                <p class="services__text">
                    На собственной фабрике мы создаем красивые, безопасные и практически вечные двери, межкомнатные
                    перегородки, стеновые панели и другие решения для вашего интерьера.
                </p>
                <button class="services__link" type="button">заказать уникальную
                    дверь</button>
            </div>
            <div class="services__item">
                <img class="services__img" src="./images/services/milling.jpg" width="620" height="320" alt="img">
                <h3 class="services__title">3D фрезеровка</h3>
                <p class="services__text">
                    Изделия, которые создает фрезерный станок, управляемый компьютером, отличаются высочайшим качеством,
                    абсолютной детализацией и идеальной точностью.
                </p>
                <a class="services__link" href="./catalog.html">выбрать из каталога</a>
            </div>
        </div>
    </div>
</section>