<section class="showcase">
    <div class="container">
        <h2 class="showcase__title title">Витрина товаров</h2>
        <ul class="showcase__list-btn">
            <li class="showcase__item-btn">
                <button class="showcase__filter-btn btn-stroke" type="button">Межкомнатные двери</button>
            </li>
            <li class="showcase__item-btn">
                <button class="showcase__filter-btn btn-stroke" type="button">Мебель</button>
            </li>
            <li class="showcase__item-btn">
                <button class="showcase__filter-btn btn-stroke" type="button">Стеновые панели «Буазери»</button>
            </li>
            <li class="showcase__item-btn">
                <button class="showcase__filter-btn btn-stroke" type="button">Лестницы</button>
            </li>
            <li class="showcase__item-btn">
                <button class="showcase__filter-btn btn-stroke" type="button">Мебельные фасады</button>
            </li>
        </ul>
        <ul class="showcase__list-product">
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">Sofia Original 50.07</h3>
                    <div class="card-product__price">
                        <span class="card-product__current-price">24 500 ₽</span>
                    </div>
                    <picture>
                        <source srcset="./images/product/door/webp/sofia_50-07.webp">
                        <img class="card-product__img" src="./images/product/door/sofia_50-07.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>
                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">VISION Модель 64.43</h3>
                    <div class="card-product__price">
                        <ins class="card-product__new-price">24 500 ₽</ins>
                        <del class="card-product__old-price">34 500 ₽</del>
                    </div>

                    <picture>
                        <source srcset="./images/product/door/webp/vision_64-43.webp">
                        <img class="card-product__img" src="./images/product/door/vision_64-43.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>
                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">VISION Модель 64.44</h3>
                    <div class="card-product__price">
                        <span class="card-product__current-price">24 500 ₽</span>
                    </div>

                    <picture>
                        <source srcset="./images/product/door/webp/vision_64-44.webp">
                        <img class="card-product__img" src="./images/product/door/vision_64-44.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>

                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">SKYLINE Модель 55.21</h3>
                    <div class="card-product__price">
                        <span class="card-product__current-price">24 500 ₽</span>
                    </div>
                    <picture>
                        <source srcset="./images/product/door/webp/skyline_55-21.webp">
                        <img class="card-product__img" src="./images/product/door/skyline_55-21.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>
                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">SKYLINE Модель 55.23</h3>
                    <div class="card-product__price">
                        <span class="card-product__current-price">24 500 ₽</span>
                    </div>
                    <picture>
                        <source srcset="./images/product/door/webp/skyline_55-23.webp">
                        <img class="card-product__img" src="./images/product/door/skyline_55-23.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>
                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">VISION Модель 64.44</h3>
                    <div class="card-product__price">
                        <span class="card-product__current-price">24 500 ₽</span>
                    </div>
                    <picture>
                        <source srcset="./images/product/door/webp/vision_64-45.webp">
                        <img class="card-product__img" src="./images/product/door/vision_64-45.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>
                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">CLASSIC Модель 65.44</h3>
                    <div class="card-product__price">
                        <span class="card-product__current-price">24 500 ₽</span>
                    </div>
                    <picture>
                        <source srcset="./images/product/door/webp/classic_65-44.webp">
                        <img class="card-product__img" src="./images/product/door/classic_65-44.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>
                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">CLASSIC Модель 64.22</h3>
                    <div class="card-product__price">
                        <span class="card-product__current-price">24 500 ₽</span>
                    </div>
                    <picture>
                        <source srcset="./images/product/door/webp/classic_64-22.webp">
                        <img class="card-product__img" src="./images/product/door/classic_64-22.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>
                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>
            <li class="showcase__item-product">
                <article class="card-product">
                    <h3 class="card-product__title">METAMORFOSA Модель 65.171</h3>
                    <div class="card-product__price">
                        <span class="card-product__current-price">24 500 ₽</span>
                    </div>
                    <picture>
                        <source srcset="./images/product/door/webp/metamorfoza_65-171.webp">
                        <img class="card-product__img" src="./images/product/door/metamorfoza_65-171.png" width="240"
                            height="240" loading="lazy" alt="img">
                    </picture>
                    <div class="card-product__row">
                        <a class="card-product__btn" href="./card-page.html">купить</a>
                    </div>
                </article>
            </li>

        </ul>
        <a class="showcase__btn-all btn-stroke" href="#" target="_blank">показать все</a>
    </div>
</section>